
.App {
  text-align: center;
  font-size: 16px;
}

main{
  margin: 0 auto;
  max-width: 1200px;
  border: red solid 2px;
  padding:0 1em;
}
/* Header...........................................*/

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
}

.App-header {
  display: flex;
  justify-content: space-between;
  border: #222 solid 2px;;
  box-sizing: content-box;
  padding:0 20px 0 20px;

}


.App-title {
  font-size: 1.5em;
}

/* intro...........................................*/
.App-intro {
  font-size: 1em;
  margin: 1em 1em 1em 0;
  animation: intro 6s;
}

.App-intro2 {
  font-size: 1em;
  margin: 1em 1em 1em 0;
  animation: intro 10s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes intro {
    from {color: white; font-size:.7em; }
    to {color: black; font-size:1em; }
}

/* cards...........................................*/

.card-container{
  box-sizing: border-box;
  width: 100%;
  border:blue solid 3px;
  height:40px;
}
