
.App {
  text-align: left;
  font-size: 16px;
  color:white;
  height: 1200px;
}

.Header-fix{
  width:100%;
  position:fixed;
  top:0px;

  z-index: 500;
}

main{
  margin: 0 auto;
  max-width: 1200px;
  border: red solid 2px;
  padding:0 1em;
  height:800px;
  background: linear-gradient(tomato,aqua)
}
/* Header...........................................*/

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
}

.App-header {
  display: flex;
  justify-content: space-between;
  border: #222 solid 2px;;
  box-sizing: content-box;
  padding:0 20px 0 20px;
  background: tomato;

}


.App-title {
  font-size: 1.5em;
}

/* intro...........................................*/
.intro-container{
  padding-top: 90px;
  height:100px;
}

.App-intro {
  font-size: 1.4em;
  margin: 1em 1em 1em 0;
  animation: intro 3s;
}

.App-intro2 {
  font-size: 1.4em;
  margin: 1em 1em 1em 0;
  animation: intro 4s;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes intro {
    from {color: tomato; font-size:.7em; }
    to {color: white; font-size:1.4em; }
}

.quote-container{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  box-sizing: border-box;
  height:400px;
}

.quote-button{
  display: flex;
  flex-flow: column;
  align-items: center;
}


.quote-icon {
  margin: 0 auto;
  width:70%;
  text-align: center;
  font-size: 12em;
  color:pink;
  animation: App-logo-spin 2 1s linear;
  animation-delay: 3s;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.quote-button button {
  width: 80%;
  border-radius: 90px;
  font-size: 2em;
  background: tomato;
  color:white;
  border: tomato solid 1px;
  cursor: pointer;
  outline: 0;
}

.quote-button button:hover{
  color:aqua;
}

.quote-info{
  text-align: center;
  margin:0;
  font-size: 1em;
}

.quote-info a, .quote-info p {
  font-family: monospace;
  margin: 1em 0 0.3em 0;
}

.quote-info a {
  color:navy;
}
/* cards...........................................*/

.card-container{
  box-sizing: border-box;
  border:blue solid 3px;
  height:300px;
}
